*, *::before, *::after{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.item{
    margin: 200px auto;
    width: 30%;
    height: 30%;
    background-color: violet;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    /* animation: move-side-to-side 0.5s linear infinite 1s; */
    /* transform: matrix(1, 2, 3, 4, 5, 6); */
    /* transform: matrix3d(45); */
    /* transform: perspective(?); */
    /* transform: rotate(10deg); */
    /* transform:rotateX(-20deg); */
    /* transform:rotateY(20deg); */
    /* transform:rotateZ(20deg); */
    /* transform: scale(1.5, 1.5); */
    /* transform: scale3d(1, 2, 3); */
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    /* transform: scaleZ(100%); */
    /* transform: skew(10deg, 20deg); */
    /* transform: skewX(5deg); */
    /* transform: skewY(50deg); */
    /* transform: translate(10%, 20%) */
    /* transform: translate3d(10%, 10%, 50%); */
    /* transform: translateX(80%); */
    /* transform: translateY(80%); */
    /* transform: translateZ(50); */
}

.item:hover{
    cursor: pointer;
    animation: move-side-to-side 0.5s linear infinite;
    border: 3px dotted black;
}

/* .item:active{
    cursor: pointer;
    transform: matrix(0.5, 2, 2.5, 3, 3.5, 4);
    border: 3px dotted black;
} */

/* .item:hover{
    cursor: pointer;
    transform: scale(1.5) skew(20deg);
    border: 3px dotted black;
} */

@keyframes move-side-to-side {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}